.top-banner{
    position: relative;
}
.banner{
    width: 100%;
    position: static;
}
.greetings{
    color: rgb(238, 238, 238);
    position: absolute;
    left: 34%;
    top: 18%;
    background-color: rgba(38, 197, 38, 0.411);
    border-radius: 0.3rem;
    padding: 0.5rem;
    
}
.massage{
    text-align: center;
    display: block;
    background-color: lightgray;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    padding-top: 0.5rem;
}
.clubs{
    background-image: url('../../Images/white-bg.jpg');
    background-position: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width: 360px){
 .greetings{
     font-size: 12px;
     left: 11%;
 }
}
@media (min-width: 361px) and (max-width: 600px){
    .greetings{
        font-size: 16px;
        left: 17%;
        padding: 0.1rem;
    }
}
@media (min-width: 601px) and (max-width: 800px){
    .greetings{
        font-size: 18px;
        left: 24%;
    }
}
@media (min-width: 801px) and (max-width: 950px){
    .greetings{
        font-size: 18px;
        left: 28%;
    }
}